{% extends "account/base.html" %}
{% load i18n static %}
{% load account socialaccount %}
{% block title %}{% trans "Sign In" %}{% endblock title %}
{% block content %}

{% comment %} <h1>{% trans "Sign In" %}</h1> {% endcomment %}

{% comment %} {% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
 {% endcomment %}
<div class="space-y-3">
  <h1>{% trans "Login" %}</h1>
  <p class="text-sm">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
</div>

<form class="auth-form mt-6" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="auth-actions">
    <a class="btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="btn-primary" type="submit">{% trans "Login" %}</button>
  </div>
</form>

{% endblock %}
