{% extends 'base.html' %}
{% block title %}{{article.title}}{% endblock title %}
{% load static humanize %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static "css/newspaper_details.css" %}">
<link rel="stylesheet" href="{% static "css/article_details.css" %}">
{% endblock extra_head %}

{% block main %}
<article>
    <h1>{{ article.title }}</h1>
    <div>
        <span><i> By {{ article.author|truncatewords:2 }}</i>, </span>
        <span>in <a href="{% url 'year_archive' year=article.published_year.year %}" class="year">{{article.published_year.year}}</a></span>
    </div>
    <div class="content">{{ article.content|linebreaks }}</div>
</article>
{% comment %} <pre>{{word_frequency}}</pre> {% endcomment %}
<section class="banner">
    <div class="stats">
        <div class="stat">
            <h4>{{ word_count|intcomma }}</h4>
            <p>Total words</p>
        </div>
        <div class="stat">
            <h4>{{ word_frequency|length }}</h4>
            <p>Unique Words</p>
        </div>
    </div>
    <div id="chartBox">
        <canvas id="word-frequency-chart"></canvas>
    </div>
    <script>
    const url = "{% url 'article_frequency' article_id=article.id %}"; // Replace with the URL of your Django view that returns the word frequency data
    fetch(url)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById("word-frequency-chart").getContext("2d");
            const chart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: data.map(item => item.word),
                    datasets: [{
                        label: "Top 20 words",
                        data: data.map(item => item.count),
                        backgroundColor: "rgba(255, 99, 132, 0.2)",
                        borderColor: "rgba(255, 99, 132, 1)",
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {beginAtZero: true}
                    }
                }
            });
        });
    </script>

</section>
{% endblock main %}