{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Home{% endblock title %} | zakhri-corpus.com</title>
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% block header %}{% include 'header.html' %}{% endblock header %}
<main>{% block main %}{% endblock main %}</main>
{% block footer %}{% include "footer.html" %}
{% endblock footer %}

<script src="{% static 'js/gender_annotations.js' %}" defer></script>
</body>
</html>