{% extends 'base.html' %}
{% block title %}
<title>{{newspaper.title}} | Corpus</title>
{% endblock title %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock extra_head %}

{% block main %}
{% comment %} article detail page {% endcomment %}
<article>
    <h1>{{ newspaper.title }}</h1>
    <p>{{ newspaper.link|default_if_none:"" }}</p>
    <p>{{ newspaper.issue_number|default_if_none:"" }}</p>
    <p>{{newspaper.article_set.count}} articles</p>
</article>
<section>
    <h3>Word frequency</h3>
    {% comment %} <table>
        <thead>
            <tr>
                <th>Word</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody>
            {% for freq in word_frequency %}
            <tr>
                <td>{{ freq.word }}</td>
                <td>{{ freq.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> {% endcomment %}
    <div id="chartBox">
        <canvas id="word-frequency-chart"></canvas>
    </div>
    <script>
    const url = "{% url 'newspaper_frequency' newspaper_id=newspaper.id %}"; // Replace with the URL of your Django view that returns the word frequency data
    fetch(url)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById("word-frequency-chart").getContext("2d");
            const chart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: data.map(item => item.word),
                    datasets: [{
                        label: "Top 20 words",
                        data: data.map(item => item.count),
                        backgroundColor: "rgba(255, 99, 132, 0.2)",
                        borderColor: "rgba(255, 99, 132, 1)",
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {beginAtZero: true}
                    }
                }
            });
        });
    </script>

</section>

<section>
    {% for article in newspaper.article_set.all %}
    <div>
        {% comment %} <h3><a href="{% url 'article_detail' article_id=article.id %}">{{ article.title }}</a></h3> {% endcomment %}
        <a title="Go to full article page" href="{% url 'article_detail' article_id=article.pk %}" rel="noopener noreferrer"><h2>{{ article.title }} 🔗</h2></a>

        <p>{{ article.author }}</p>
        <p>{{ article.published_year|date:"Y" }}</p>
        <p>{{ article.get_language_display }}</p>
    </div>
    {% endfor %}
</section>
{% endblock main %}