{% extends 'base.html' %}
{% block title %}{{results.query}} | Results{% endblock title %}
{% block extra_head %}
<script defer>
    // JavaScript code
    function highlightPhrase(e, phrase) {
        // const textElement = document.getElementById("text");
        // const text = textElement.innerHTML;
        console.log(e);
        const text = e.innerHTML;
        const highlightedText = text.replace(new RegExp(phrase, "gi"), "<span class='highlight'>$&</span>");
        e.innerHTML = highlightedText;
    }
    document.addEventListener("DOMContentLoaded", function() {
        const elements = document.querySelectorAll("[data-hightlight]");
        elements.forEach(function(e) {
            highlightPhrase(e, e.dataset.hightlight);
        });
    });
</script>
<style>
    .highlight {
        background-color: hsl(60, 100%, 50%);
        color: black;
    }
</style>
{% endblock extra_head %}
{% block main %}
<h1>Search Results for "{{ results.query }}"</h1>
<p>Total frequency: {{ results.total_frequency }}</p>

{% if results %}
<ul>
    {% for result in results.results %}
    <li>
        <a title="Go to full article page" href="{% url 'article_detail' article_id=result.article.pk %}" target="_blank" rel="noopener noreferrer"><h2>{{ result.article.title }} 🔗</h2></a>
        {% if result.article.author %}
        <p>by {{ result.article.author }} in {{result.article.published_year.year}}</p>
        {% endif %}
        <p>Published in {{ result.article.newspaper.title }}</p>
        <p>Frequency: {{ result.frequency }}</p>
        <ol>
            {% for location in result.locations %}
            <li>
                <code>{{ location.type }} 👉</code>
                <span data-hightlight="{{results.query}}" data-gender-annotations>{{ location.context }}</span>
            </li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %}

{% endblock main %}
