{% extends 'base.html' %}
{% block main %}
    <h1>Search Results for "{{ results.query }}"</h1>
    <p>Total frequency: {{ results.total_frequency }}</p>

    {% if results %}
        <ul>
            {% for result in results.results %}
                <li>
                    <h2>{{ result.article.title }}</h2>
                    {% if result.article.author %}
                        <p>by {{ result.article.author }}</p>
                    {% endif %}
                    <p>Published in {{ result.article.newspaper.name }}</p>
                    <p>Frequency: {{ result.frequency }}</p>
                    {% comment %} <p>{{ result.article.content|truncatewords:30 }}</p> {% endcomment %}
                    <ol>
                        {% for location in result.locations %}
                            <li>
                                <code>{{ location.type }} 👉</code>
                                <span>{{ location.context }}</span>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

{% endblock main %}