article {
    padding: 1rem;
}

article .content {
    text-align: start;
    line-height: 1.75;
}

@media screen and (max-width: 768px) {
    article {
        padding: 1.5rem;
    }

    article .content {
        text-align: justify;
        line-height: 2rem;
    }
}