#content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

#content .language-content {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}   
/* #content .language-content ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
} */